/DS.Testing/nbproject/private/
/DS.Testing/build/
/Paper1.Exericse1.CounterThread/nbproject/private/
/Paper1.Exericse1.CounterThread/build/
/Paper1.Exercise1.Bankaccount/nbproject/private/
/Paper1.Exercise1.Bankaccount/build/
/Paper1.Exercise1.Bankaccount/dist/
/Paper1.Exercise2.BankaccountImplements/nbproject/private/
/Paper1.Exercise2.BankaccountImplements/build/